body{
  background: #f12711; 
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
}

.welcome{
  text-align: center;
}

.navbar{
  display: flex;
}